
  {% extends 'base.html' %}
  {% block body %}
  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="pane; panel-info">
        <div class="panel-heading">
      <div class="panel-title">
        Thank Your For Visiting Mystery Books!
        </div>
        </div>
        <div style="padding-top:15px;background:white;padding: 20px 0 20px 0;" class="panel-body">
        <span>We Hope To See You Again!</span>
            </div>
          </div>
        </div>
  {% endblock %}
  
  