
  {% extends 'base.html' %}
  {% block body %}
  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="pane; panel-info">
        <div class="panel-heading">
      <div class="panel-title">
        Registration Complete
        </div>
        </div>
        <div style="padding-top:30px" class="pane;-body">
            Thanks registering with Books! You should receive activation email shortly.
            </div>
          </div>
        </div>
  {% endblock %}




