{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
  <div style="text-decoration:underline;text-align: center"><h3>Confirm Your Order</h3></div>
      <div class="cart_container">
          {% for item in cart %}
    <div class="cart_item">
        <div class="cart_listing">
            <span class="title">{{item.book.title}}</span> by {{item.book.author.first_name}} {{item.book.author.last_name}}
        </div>
        <div class="cart_price">
            <span class="cart_quantity">{{ item.quantity }} X $<span class="cart_value">{{item.book.price}}</span></span>
        </div>
    </div>
    {% empty %}
    <div>
        There are no items in the cart.
    </div>
    {% endfor %} 
    <div class="cart_total">
        <h4>Total: $<span class="cart_value">{{total}}</span></h4>
    <a href="{% url 'complete_order' 'paypal' %}"><input type="submit" id="btn-login" class="btn btn-success" value="Purchase"></a>    
    </div>
    </div>
    </div>
</div>         
{% endblock %}